<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Challenge-Mode_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,145},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>Challenge-Mode_zhankai_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,669},{92,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
            <key>Challenge-Mode_zhankai_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,971},{13,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,2}}</string>
                <key>sourceSize</key>
                <string>{13,2}</string>
            </dict>
            <key>Classic_di_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,290},{210,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,141}}</string>
                <key>sourceSize</key>
                <string>{210,141}</string>
            </dict>
            <key>Joker_di_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,145},{210,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,141}}</string>
                <key>sourceSize</key>
                <string>{210,141}</string>
            </dict>
            <key>Manual_di_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,757},{210,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,141}}</string>
                <key>sourceSize</key>
                <string>{210,141}</string>
            </dict>
            <key>anniu_huadonga_tongyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,145},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>anniu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,829},{70,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,44}}</string>
                <key>sourceSize</key>
                <string>{70,44}</string>
            </dict>
            <key>anniu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,755},{70,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,44}}</string>
                <key>sourceSize</key>
                <string>{70,44}</string>
            </dict>
            <key>biaoti_di_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,503},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>biaoti_di_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,558},{188,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,73}}</string>
                <key>sourceSize</key>
                <string>{188,73}</string>
            </dict>
            <key>btn_zijianfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,217},{523,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,99}}</string>
                <key>sourceSize</key>
                <string>{523,99}</string>
            </dict>
            <key>cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,465},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>create_room_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,903},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>create_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,614},{393,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,299}}</string>
                <key>sourceSize</key>
                <string>{393,299}</string>
            </dict>
            <key>di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,435},{162,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,163}}</string>
                <key>sourceSize</key>
                <string>{162,163}</string>
            </dict>
            <key>di_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,145},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
            <key>di_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,74},{872,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{872,67}}</string>
                <key>sourceSize</key>
                <string>{872,67}</string>
            </dict>
            <key>di_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{872,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{872,67}}</string>
                <key>sourceSize</key>
                <string>{872,67}</string>
            </dict>
            <key>dizhu_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,462},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>dizhu_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,427},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>fangjian_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,392},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>fangjian_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,357},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>history_di_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,145},{128,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,66}}</string>
                <key>sourceSize</key>
                <string>{128,66}</string>
            </dict>
            <key>huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,549},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>icon_Classic_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,377},{156,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,114}}</string>
                <key>sourceSize</key>
                <string>{156,114}</string>
            </dict>
            <key>icon_Classic_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,305},{156,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,114}}</string>
                <key>sourceSize</key>
                <string>{156,114}</string>
            </dict>
            <key>icon_Joker_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,217},{156,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,114}}</string>
                <key>sourceSize</key>
                <string>{156,114}</string>
            </dict>
            <key>icon_Joker_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,365},{156,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,114}}</string>
                <key>sourceSize</key>
                <string>{156,114}</string>
            </dict>
            <key>icon_Manual_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,145},{156,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,114}}</string>
                <key>sourceSize</key>
                <string>{156,114}</string>
            </dict>
            <key>icon_Manual_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,205},{156,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,114}}</string>
                <key>sourceSize</key>
                <string>{156,114}</string>
            </dict>
            <key>icon_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,145},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>icon_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,562},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>icon_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,614},{38,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>icon_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,528},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,497},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_zhankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,669},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>jianpan_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,614},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>jianpan_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,525},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>jindutiao_caise.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,217},{539,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,8}}</string>
                <key>sourceSize</key>
                <string>{539,8}</string>
            </dict>
            <key>jindutiao_caise_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,511},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>jindutiao_caise_jiedian.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,701},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>jindutiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,744},{54,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,9}}</string>
                <key>sourceSize</key>
                <string>{54,9}</string>
            </dict>
            <key>join_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,217},{393,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,299}}</string>
                <key>sourceSize</key>
                <string>{393,299}</string>
            </dict>
            <key>lv_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,971},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>renshu_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,322},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>renshu_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,287},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>room_id_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,944},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>shendi.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,145},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>shijian_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,252},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>shijian_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,217},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>shuzi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,473},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>shuzi_yuanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,435},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>txt_ADVANCED-SETTINGS.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,760},{227,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,25}}</string>
                <key>sourceSize</key>
                <string>{227,25}</string>
            </dict>
            <key>wanfa_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,971},{143,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,49}}</string>
                <key>sourceSize</key>
                <string>{143,49}</string>
            </dict>
            <key>wanfa_di_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,3},{210,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,141}}</string>
                <key>sourceSize</key>
                <string>{210,141}</string>
            </dict>
            <key>xuanzhong_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,525},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>yuandian_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,145},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>yuandian_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,991},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>zijianfang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,465},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_room.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0af22a03338174e94b090fc6897dc74f:e6720b1603441d550b554c33935d3501:fce25b908fd4238626e790799e49f43c$</string>
            <key>textureFileName</key>
            <string>create_room.png</string>
        </dict>
    </dict>
</plist>
