<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,384},{294,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,45}}</string>
                <key>sourceSize</key>
                <string>{294,45}</string>
            </dict>
            <key>baitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,384},{576,6}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{576,6}}</string>
                <key>sourceSize</key>
                <string>{576,10}</string>
            </dict>
            <key>fangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,655},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,559},{46,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,42}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,3},{721,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,45}}</string>
                <key>sourceSize</key>
                <string>{721,45}</string>
            </dict>
            <key>hongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,682},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>lantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,3},{689,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,82}}</string>
                <key>sourceSize</key>
                <string>{689,82}</string>
            </dict>
            <key>lose_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,821},{171,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,38}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>lose_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,821},{171,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,38}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>lose_lantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,3},{721,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,45}}</string>
                <key>sourceSize</key>
                <string>{721,45}</string>
            </dict>
            <key>lose_paizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{750,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,377}}</string>
                <key>sourceSize</key>
                <string>{750,377}</string>
            </dict>
            <key>meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,609},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>renshukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,728},{202,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,89}}</string>
                <key>sourceSize</key>
                <string>{202,89}</string>
            </dict>
            <key>win_biao.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,903},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>win_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,728},{171,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,38}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>win_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,384},{171,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,38}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>win_paizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,384},{615,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,309}}</string>
                <key>sourceSize</key>
                <string>{615,309}</string>
            </dict>
            <key>xing_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,821},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>xing_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,906},{83,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamefinish.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc90f873497ab462bc6745bc1d9260ca:ac52972b5574bacd54c0e98c0b5af72b:967753b26ab67067ba7a01e33bf7e2aa$</string>
            <key>textureFileName</key>
            <string>gamefinish.png</string>
        </dict>
    </dict>
</plist>
