<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,129},{262,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,491}}</string>
                <key>sourceSize</key>
                <string>{262,491}</string>
            </dict>
            <key>biaiti_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,57},{562,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,68}}</string>
                <key>sourceSize</key>
                <string>{562,68}</string>
            </dict>
            <key>biaoti_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,3},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>btn_Invite_69%.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,423},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>btn_be a promoter_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,423},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>btn_be a promoter_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,291},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,885},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,753},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>di_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,491},{282,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,45}}</string>
                <key>sourceSize</key>
                <string>{282,45}</string>
            </dict>
            <key>di_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{446,887},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,129},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>diban_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,755},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dikkuang_yaoqing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,965},{128,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,47}}</string>
                <key>sourceSize</key>
                <string>{128,47}</string>
            </dict>
            <key>dikkuang_yaoqing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,540},{367,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,43}}</string>
                <key>sourceSize</key>
                <string>{367,43}</string>
            </dict>
            <key>dikuang_ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,395},{128,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,43}}</string>
                <key>sourceSize</key>
                <string>{128,43}</string>
            </dict>
            <key>dikuang_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,911},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dikuang_jinbijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,395},{92,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>icon_BENEFITS.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,156},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>icon_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,423},{326,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,326}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>icon_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,77},{31,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{31,42}</string>
            </dict>
            <key>icon_how.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,123},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>icon_invite_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,482},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>icon_invite_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,424},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>icon_jifen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,268},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>icon_jinbi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,228},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>icon_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,905},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>icon_yaoqingjilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,40},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>icon_yaoqingjilu_weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,366},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>icon_yaoqingjilu_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,308},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>icon_zuanshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,188},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>img_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,485},{284,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,149}}</string>
                <key>sourceSize</key>
                <string>{284,149}</string>
            </dict>
            <key>invite_di03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,773},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>invite_di04.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,291},{128,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,405}}</string>
                <key>sourceSize</key>
                <string>{128,405}</string>
            </dict>
            <key>invite_di_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{182,773},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>invite_di_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{828,623},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>invite_di_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{828,491},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>invite_di_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{50,579},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>invite_di_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{50,773},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>txt_BE-A-PROMOTER.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,540},{235,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,35}}</string>
                <key>sourceSize</key>
                <string>{235,35}</string>
            </dict>
            <key>txt_INVITE-FRIENDS,GET-REWARD.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{566,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,50}}</string>
                <key>sourceSize</key>
                <string>{566,50}</string>
            </dict>
            <key>xinfeng_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,395},{18,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,96}}</string>
                <key>sourceSize</key>
                <string>{18,96}</string>
            </dict>
            <key>xinfeng_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,3},{410,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,152}}</string>
                <key>sourceSize</key>
                <string>{410,152}</string>
            </dict>
            <key>yaoqingguize_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,159},{128,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,481}}</string>
                <key>sourceSize</key>
                <string>{128,481}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>invite.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a17ad7cdde2db9d306a2448ea72c3ef8:f66aa7dcd94757340dab33ca6c183a48:1232b0c6576b94f2432ce465514ad853$</string>
            <key>textureFileName</key>
            <string>invite.png</string>
        </dict>
    </dict>
</plist>
