<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Unable to login_xiahuaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,504},{120,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,3}}</string>
                <key>sourceSize</key>
                <string>{120,3}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,409},{305,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,81}}</string>
                <key>sourceSize</key>
                <string>{305,81}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,3},{305,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,81}}</string>
                <key>sourceSize</key>
                <string>{305,81}</string>
            </dict>
            <key>btn_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{305,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,81}}</string>
                <key>sourceSize</key>
                <string>{305,81}</string>
            </dict>
            <key>fangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,360},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,49},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,3},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_Google.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,312},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_Guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,441},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,448},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>loading_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,312},{125,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>loading_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,312},{93,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,23}}</string>
                <key>sourceSize</key>
                <string>{93,23}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,3},{537,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,207}}</string>
                <key>sourceSize</key>
                <string>{537,207}</string>
            </dict>
            <key>meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,312},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>txt_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,312},{132,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,39}}</string>
                <key>sourceSize</key>
                <string>{132,39}</string>
            </dict>
            <key>txt_loading_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,494},{14,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7d41532bd699b60e88741d6fb2a9975:c5b5b094e6389b24f9e0d92e37a184ac:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
