<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingtong.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,328},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,412},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chat_baibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,412},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>chat_fadai.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,100},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>chat_fennu.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,3},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>chat_kaixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,3},{106,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,78}}</string>
                <key>sourceSize</key>
                <string>{106,78}</string>
            </dict>
            <key>chat_koukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,412},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>chat_qiexi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,182},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>chat_qinqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,166},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>chat_shangxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,3},{106,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>chat_shiwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{106,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,93}}</string>
                <key>sourceSize</key>
                <string>{106,93}</string>
            </dict>
            <key>chat_wugu.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,81},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>chat_xuanyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,3},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>chat_zatou.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,85},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>dapao.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,328},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gongjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,428},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,344},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jiguanqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,260},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,244},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>meigui.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,173},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,95},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>woshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,95},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hf_img.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fb108b48b2dbb6219cf3ebad999f9e:59d2009c83f55696c4aafd632158ce5f:e75468fc4852f95bab6d4940bc469815$</string>
            <key>textureFileName</key>
            <string>hf_img.png</string>
        </dict>
    </dict>
</plist>
1m  