<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,308},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>blue_day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,308},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>blue_day_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,389},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>blue_day_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,359},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>blue_day_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,329},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>blue_day_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,299},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>blue_day_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,299},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>buling.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,253},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,291},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>di_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,423},{489,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,33}}</string>
                <key>sourceSize</key>
                <string>{489,33}</string>
            </dict>
            <key>di_jiazhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{719,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,172}}</string>
                <key>sourceSize</key>
                <string>{719,172}</string>
            </dict>
            <key>diamonds_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,179},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>diamonds_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,711},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>diamonds_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,567},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>diamonds_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,423},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>diamonds_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,711},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>diamonds_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,567},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>goldcoins_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,179},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>goldcoins_day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,302},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>goldcoins_day_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,423},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>goldcoins_day_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,179},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>goldcoins_day_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,302},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>goldcoins_day_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,147},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>goldcoins_day_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,175},{156,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,123}}</string>
                <key>sourceSize</key>
                <string>{156,123}</string>
            </dict>
            <key>goldcoins_day_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,3},{140,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,116}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>huangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,855},{53,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,128}}</string>
                <key>sourceSize</key>
                <string>{53,128}</string>
            </dict>
            <key>icon_shangpin_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,179},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>jinbi_dikuang_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,912},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>jinbi_dikuang_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,912},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>landi.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,855},{53,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,128}}</string>
                <key>sourceSize</key>
                <string>{53,128}</string>
            </dict>
            <key>orange_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,299},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>orange_day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,283},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>orange_day_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,269},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>orange_day_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,239},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>orange_day_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,209},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>orange_day_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,179},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>orange_day_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,912},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>sign_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,912},{89,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,26}}</string>
                <key>sourceSize</key>
                <string>{89,26}</string>
            </dict>
            <key>sign_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,916},{96,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,99}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>sign_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,216},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>sign_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,179},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>yiqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,912},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>yiqiandao_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,3},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sign.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb97e7e946b60c88aedd05e9e3be57b:ec6505214487b24e9b413969a1c60fb3:34a1351776234ecdaaa6d4c7d33add23$</string>
            <key>textureFileName</key>
            <string>Sign.png</string>
        </dict>
    </dict>
</plist>
²‡  