<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lose_biaoti_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,90},{384,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,83}}</string>
                <key>sourceSize</key>
                <string>{384,83}</string>
            </dict>
            <key>lose_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,144},{558,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,137}}</string>
                <key>sourceSize</key>
                <string>{558,137}</string>
            </dict>
            <key>lose_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,484},{40,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,503}}</string>
                <key>sourceSize</key>
                <string>{40,503}</string>
            </dict>
            <key>lose_jiesuan_biaoti_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,934},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>lose_jiesuan_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,484},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>lose_jiesuan_di_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,484},{120,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,47}}</string>
                <key>sourceSize</key>
                <string>{120,47}</string>
            </dict>
            <key>lose_jinbi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,357},{193,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,56}}</string>
                <key>sourceSize</key>
                <string>{193,56}</string>
            </dict>
            <key>lose_nicheng_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,986},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>lose_nickname_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,991},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>lose_table id_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,991},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>lose_touxiang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,554},{303,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,376}}</string>
                <key>sourceSize</key>
                <string>{303,376}</string>
            </dict>
            <key>lose_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,781},{223,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,202}}</string>
                <key>sourceSize</key>
                <string>{223,202}</string>
            </dict>
            <key>tongyong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,934},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>tongyong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,991},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>tongyong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,991},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>tongyong_baijianbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,3},{23,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,66}}</string>
                <key>sourceSize</key>
                <string>{23,66}</string>
            </dict>
            <key>tongyong_shutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,160},{6,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,91}}</string>
                <key>sourceSize</key>
                <string>{6,91}</string>
            </dict>
            <key>win_biaoti_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,3},{384,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,83}}</string>
                <key>sourceSize</key>
                <string>{384,83}</string>
            </dict>
            <key>win_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{558,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,137}}</string>
                <key>sourceSize</key>
                <string>{558,137}</string>
            </dict>
            <key>win_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,484},{40,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,503}}</string>
                <key>sourceSize</key>
                <string>{40,503}</string>
            </dict>
            <key>win_jiesuan_biaoti_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,934},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>win_jiesuan_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,484},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>win_jiesuan_di_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,934},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>win_jinbi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,160},{193,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,56}}</string>
                <key>sourceSize</key>
                <string>{193,56}</string>
            </dict>
            <key>win_nicheng_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,986},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>win_nickname_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,95},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>win_table id_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,30},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>win_touxiang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,177},{303,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,376}}</string>
                <key>sourceSize</key>
                <string>{303,376}</string>
            </dict>
            <key>win_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,554},{223,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,202}}</string>
                <key>sourceSize</key>
                <string>{223,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_room_settle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d7f55948b76d00a511a16f3ee37b68e:8adf9aea1935e407783dade6f7f67518:5e4039da6f2db14086d5a54fc383bbf1$</string>
            <key>textureFileName</key>
            <string>card_room_settle.png</string>
        </dict>
    </dict>
</plist>
/;  